{% extends "base.html" %}

{% block pagetitle %}Author Archive: Next Vista For Learning{% endblock %}

{% block main %}
<h3>Login</h3>

{% if form.has_errors %}
	<p class="error">
		Your username and password didn't match. Please try again.
	</p>
{% endif %}

<form method="post" action=".">
	<fieldset>
		<legend>Login</legend>
		<div>
			<label for="id_username">Username:</label>
			{{ form.username }}
		</div>
		<div>
			<label for="id_password">Password:</label>
			{{ form.password }}
		</div>
	</fieldset>

	<div>
		<input type="submit" value="login" />
		<input type="hidden" name="next" value="/video/" />
	</div>
</form>

<p>
	Don't have an account?  <a href="/signup/">Create one now</a>.
</p>

{% endblock %}
