<h3><%= @video.title %></h3>

<ul class="postinfo">
	<li>Author: 
		<%= link_to @video.submitter.display_name, :controller => :user, :action => :show, :id => @video.submitter.login %>
	</li>
	<li>Language: <%= @video.language %></li>
	<li>Tags: <%= tag_links(@video.tags) %></li>
	<li>Rating:  <%= @video.rating %></li>
	<li>Number of Votes:  <%= @video.ratings.size %></li>
</ul>

<p><%= @video.long_descr %></p>
