fieldset legend {
	border: 1px solid black;
	font-size: larger;
}

fieldset label {
	float: left;
	width: 10em;
}

fieldset textarea {
	width: 40em;
	height: 6em;
}

fieldset + fieldset {
	margin-top: 1em;
}

.error {
	font-weight: bolder;
	color: red;
}

.cloud-small { font-size: 0.8em; }
.cloud-medium { font-size: 1em; }
.cloud-large { font-size: 1.5em; }
.cloud-x-large { font-size: 3em; }
