fieldset legend {
	border: 1px solid black;
	font-size: larger;
}

fieldset label {
	float: left;
	width: 5em;
}

fieldset input, fieldset select {
  margin-left: 6em;
}

fieldset textarea {
  margin-left: 6em;
	width: 40em;
	height: 6em;
}

fieldset p {
  clear: left;
}

fieldset + fieldset {
	margin-top: 1em;
}

.error {
	font-weight: bolder;
	color: red;
}

.fieldWithErrors input {
  border: solid red 3px;
}

img.trash {
	border: none;
}

.deleted {
	text-decoration: line-through;
}

.cloud-small { font-size: 0.8em; }
.cloud-medium { font-size: 1em; }
.cloud-large { font-size: 1.5em; }
.cloud-x-large { font-size: 3em; }
