fieldset legend {
	border: 1px solid black;
	font-size: larger;
}

fieldset label span {
	float: left;
	width: 5em;
}

fieldset label input {
  margin-left: 6em;
}

fieldset textarea {
  margin-left: 6em;
	width: 40em;
	height: 6em;
}

fieldset div {
  clear: left;
}

fieldset + fieldset {
	margin-top: 1em;
}

.error {
	font-weight: bolder;
	color: red;
}

.cloud-small { font-size: 0.8em; }
.cloud-medium { font-size: 1em; }
.cloud-large { font-size: 1.5em; }
.cloud-x-large { font-size: 3em; }
